.background {
    background: url('D:\Projects\Github\CommunityMappingWebApplication\src\assets\images\map.png');
   
}

.layer {
    background-color: rgba(204, 255, 229,0.3);
    height: 655px;
   
}

.register-form{
	padding: 50px 0;
}

#register-button{
   
    font-size:100%;
     padding: 5px 5px;
  
}

.register-form form{
    background-color: #fff;
    max-width: 350px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
     border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.register-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-bottom: 20px;
    line-height: 60px;
}

.register-form .item{
	border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px 10px;
}

.register-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}



@media (max-width: 500 px) {
    .login-form form{
        padding: 50px 20px;
    }

    .login-form .form-icon{
        width: 50px;
        height: 50px;
        font-size: 15px;
        line-height: 70px;
    }
}