<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Haz-Map</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <!-- <ul>
      <% if(typeof errors != 'undefined') { %> <% errors.forEach(erro=> { %>
      <li><%= error.message %></li>
      <%})%> <% } %>
    </ul> -->

    <!-- For Login Page -->
    <!-- <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul> 
    <ul>
        <% if(messages.error){ %>
        <li><%= messages.error %></li>
    <% } %>
    -->


    <div id="map"></div>
    <script>
      mapboxgl.accessToken =
        "pk.eyJ1IjoidGltd2lsbGFlcnQiLCJhIjoiY2s1d2l0Ym5yMDlhdTNobnhhaDNsY2hwYSJ9.oVOhCQf5j61IBbpYvhzLwA";
      var map = new mapboxgl.Map({
        container: "map", // container id
        style: {
          version: 8,
          sources: {
            "raster-tiles": {
              type: "raster",
              tiles: [
                "https://api.mapbox.com/styles/v1/mapbox/satellite-v9/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoidGltd2lsbGFlcnQiLCJhIjoiY2s1d2l0Ym5yMDlhdTNobnhhaDNsY2hwYSJ9.oVOhCQf5j61IBbpYvhzLwA",
              ],
              tileSize: 256,
            },
          },
          layers: [
            {
              id: "simple-tiles",
              type: "raster",
              source: "raster-tiles",
              minzoom: 0,
              maxzoom: 22,
            },
          ],
        },
        center: [-74.5, 40], // starting position
        zoom: 2, // starting zoom
      });
    </script>
  </body>
</html>
