body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .ui.menu {
  margin: 0mm;
} */
.ui.menu .item {
  padding: 0.85vh;
}

.ui.dropdown .menu {
  z-index: 0;
  position: absolute;
}
.ui.label {
  color: black;
  font-weight: 500;
}

/* Slider Styling Begins  */
.ui.input.slider.slider {
  /* background-color: red; */
  z-index: 2;
  position: relative;
  top: 80vh;
  left: 1.5vw;
  /* transform: rotate(-90deg); */
}
.ui.input > input[type="range"] {
  padding: 0mm;
  margin-top: 3mm;
  background-color: rgb(148, 147, 147);
  height: 5px;
  border: transparent;
}
input[type="range"] {
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: -1px 1px 2px #707070;
  border-radius: 50px;
  border: 1px solid #bfbfbf;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: -1.5px 1px 2px #707070;
  border: 1px solid #bfbfbf;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
/* Slider Styling Ends  */

element.style {
  width: fit-content;
  height: fit-content;
}

.map-container {
  margin-left: 1vw;
  margin-right: 1vw;
  height: 90vh;
}

input[type="number"] {
  background-color: transparent;
  color: white;
  text-align: center;
}

.ui.input.focus>input {
  border-color: rgb(141, 226, 156);
  background-color: rgba(35, 55, 75, 0.6);
  color: white;
}
.ui.input>input {
  padding: 1mm;
}
.coordinates {
  background-color: transparent;
  color: #ffffff;
  /* padding: 6px 6px; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* z-index: 1;
  position: absolute; */
  top: 10vh;
  left: 1vw;
  /* margin: 12px; */
  border-radius: 15px;
}
.onMap {
  z-index: 1;
  position: absolute;
}
.ui.form .fields {
  margin: 0mm;
}
.ui.form .input {
  width: 50%;
}

.alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
