/* body {
  margin: 0;
  padding: 0;
}
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
} */

.map-container {
  height: 1000px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 10;
  left: 10;
  margin: 12px;
  border-radius: 4px;
  }

  .alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }